<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>index</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>

        <div class='container'>
            <br>
            <h1>Team Randomizer</h1>
            <form action="/" method='post'>
                <textarea name="names" id="" cols="80" rows="5"><%= $get_people.to_s %></textarea>
                <br>
                <h3>Method</h3>
                <label>Number per Team</label>
                <input type="radio" name="method" value="numberpercount" checked>
                <br>
                <label>Team Count</label>
                <input type="radio" name="method" value="teamcount">
                <br>
                <hr>
                <label>Number</label>
                <input type="name" name="how_many" value=2>
                <br>
                <input class='btn btn-primary' type="submit">
                <br><hr>
            </form>

    <div class="row">
            <% for i in $randomiz  %>


                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <h1><%= i %></h1>
                            <p>
                            </p>
                        </div>
                    </div>
                </div>


            <% end %>
</div>
        </div>

    </body>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</html>
